#root {
  margin: 0;
  padding: 0;
}

@font-face{
  font-family: 'Ivy Mode';
  src: url('../uploads/fonts/ivy-mode-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Ivy Mode', serif;
}


@font-face {
  font-family: 'Montserrat';
  src: url('../uploads/fonts/montserrat-v31-latin-regular.woff2') format('woff');
  font-style: normal;
  font-weight: 400;
}

p, span, strong{
  font-family: 'Montserrat', sans-serif;
}

h2{
  text-align: center;
  margin-top: 2rem;
}

body{
    display: inherit!important;
    place-items: inherit!important;
    min-height: 100vh!important;
}


.card {
  padding: 2em;
  width: 18rem;
  min-height: 26rem;
}

.read-the-docs {
  color: #888;
}


.productContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.row
{
  margin-left: 0px!important;
  margin-right: 0px!important;
}

.btn-primary, .btn-outline-primary{
    background-color: #3c0363;
    border-color: white;
    color: white;
    font-weight: 500;
}


.btn-primary:hover, .btn-outline-primary:hover{
    background-color: #6366f1;
    border-color: #6366f1;
    color: white;
    font-weight: 500;
}


th, tr, td{
  padding: 15px;
  text-wrap: wrap;
}

th{
  border-bottom: 1px solid black;
}

nav ul li{
  font-size: 1.4rem;
  margin: 0 20px;
}

#navbarNav{
  justify-content: right;
}


footer{
  
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #939279;
    height: 10vh;
    background-color: rgb(248 249 250);
    justify-content: space-evenly;
}


.app-container{
  min-height: 90vh;
  max-height: 100vh;
}

.btn-secondary{
    background-color: #ffff;
    border-color: #001e50;
    color: #001e50;
    font-weight: 500;
}


.btn-secondary:hover{
    background-color: #2c5397;
    border-color: #ffff;
    color: #ffff;
    font-weight: 500;
}

table{
  overflow-x: scroll;
}

.w-15{
  width: 15%!important;
}

.background-home{
  background: url('/uploads/amarok-taos-vw-autorun.png') no-repeat center;
  height: 70vh!important;
  background-size: cover;
}

.bg-primary{
  background-color: #3c0363!important;
}

.card-home{
  min-height: 350px;
}

.table-scroll {
  overflow-x: auto;
  width: 100%;
}


.w-20{
   width: 20%!important;
}


.contentContainer{
 overflow-y: auto; /* Clave: Para que el scroll vertical aparezca DENTRO de este div */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.active{
  background-color: #7400c1!important;
}